@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html {
  overflow-y: auto;
  overscroll-behavior-y: none;
}

body {
  @apply text-blue-800;
  font-family: 'Baloo 2', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3',
    'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  background-color: whitesmoke;
}

#__next {
  @apply gap-4;
  @apply grid-cols-12;
  @apply grid;
  @apply items-start;
  @apply max-w-screen-xl;
  @apply mx-auto;
}
